
button { 
  text-align: center; 
}

body {
  background-image: linear-gradient(white, aqua);
}

.centered {
  display: flex;
  align-items: center;
  flex-direction: column;
}


/* .panel {
  margin: 5px;
  bottom
} */